<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.terminal.mapper.TerminalMapper">
<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2020.07.23 정다빈     최초 생성 
-->
	
	<resultMap type="terminalVO" id="resultTerminalVo">
		<result property="trainNo" column="train_no"/>
		<result property="formationNo" column="formation_no"/>
		<result property="deviceIp" column="device_ip"/>
		<result property="deviceMac" column="device_mac"/>
		<result property="insLocTxt" column="INS_LOC_TXT"/>
		<result property="deviceUsed" column="device_used"/>
		<result property="gatewayIp" column="gateway_ip"/>
		<result property="deviceUser" column="device_user"/>
		<result property="etc" column="etc"/>
		<result property="regDt" column="reg_dt"/>
		
		<result property="carType" column="car_type"/>
		<result property="carName" column="car_name"/>
		
		<result property="rcvDt" column="rcv_dt"/>
		<result property="tno2" column="tno2"/>
		<result property="fno2" column="fno2"/>
		<result property="activeCap" column="active_cap"/>
		<result property="trainCnt" column="train_cnt"/>
		<result property="trainAddCnt" column="train_add_cnt"/>
		<result property="deviceIp" column="device_ip"/>
		<result property="deviceMac" column="device_mac"/>
		<result property="kpa1" column="kpa1"/>
		<result property="kpa2" column="kpa2"/>
		<result property="kpa3" column="kpa3"/>
		<result property="kpa4" column="kpa4"/>
		<result property="kpa5" column="kpa5"/>
		<result property="kpa6" column="kpa6"/>
		<result property="kpa7" column="kpa7"/>
		<result property="kpa8" column="kpa8"/>
		<result property="rate1" column="rate1"/>
		<result property="rate2" column="rate2"/>
		<result property="rate3" column="rate3"/>
		<result property="rate4" column="rate4"/>
		<result property="rate5" column="rate5"/>
		<result property="rate6" column="rate6"/>
		<result property="rate7" column="rate7"/>
		<result property="rate8" column="rate8"/>
		
		<result property="cwd1" column="cwd1"/>
		<result property="cwd2" column="cwd2"/>
		<result property="cwd3" column="cwd3"/>
		<result property="cwd4" column="cwd4"/>
		<result property="cwd5" column="cwd5"/>
		<result property="cwd6" column="cwd6"/>
		<result property="cwd7" column="cwd7"/>
		<result property="cwd8" column="cwd8"/>
		
		<result property="stWgt1" column="st_wgt_1"/>
		<result property="stWgt2" column="st_wgt_2"/>
		<result property="fcWgt1" column="fc_wgt_1"/>
		<result property="fcWgt2" column="fc_wgt_2"/>
		
		<result property="stationId" column="station_id"/>
		<result property="stationName" column="station_name"/>
		
		<result property="errorRange" column="error_range"/>
	</resultMap>
	
	<!-- 메인화면 대시보드에서의 단말기목록 -->
	<select id="mainTerminalList" parameterType="terminalVO" resultMap="resultTerminalVo">
	   	WITH tcms AS(
	    <![CDATA[ 
			SELECT *
				FROM tcms_log
				WHERE rcv_dt>= now() - interval 1 minute
				and formation_no>=201 AND formation_no<=300
				AND kpa1>50 and kpa2>50 and kpa3>50 and kpa4>50
				and station_id >= 0 AND station_id<60
		]]>
		),
		jjng as(
		<![CDATA[
			SELECT joong2.formation_no AS jfno
				FROM 
				(
					SELECT tt.formation_no ,tt.device_mac FROM 
							(
								SELECT rcv_dt,formation_no,station_id
									,device_mac
									,COUNT(*) AS cnt
									FROM tcms_log
									WHERE 1=1
									and rcv_dt>= now() - INTERVAL 2 minute
									and formation_no>=201 AND formation_no<=243
									AND kpa1>50 and kpa2>50 and kpa3>50 and kpa4>50
									and station_id >= 0 AND station_id<60
									GROUP BY formation_no,device_mac
									ORDER BY formation_no,device_mac
							)tt
							WHERE (tt.formation_no) IN(
								SELECT 
								formation_no
								FROM
								(
									SELECT jng.*,COUNT(*) AS cnt2 from
										(
											SELECT rcv_dt,formation_no,station_id
											,device_mac
											FROM 
											(
												SELECT rcv_dt,formation_no,station_id
												,device_mac
												,COUNT(*) AS cnt
												FROM tcms_log
												WHERE 1=1
												and rcv_dt>= now() - interval 2 minute
												and formation_no>=201 AND formation_no<=243
												AND kpa1>50 and kpa2>50 and kpa3>50 and kpa4>50
												and station_id >= 0 AND station_id<60
												GROUP BY formation_no,device_mac
												ORDER BY formation_no,device_mac
											)tcms
											GROUP BY formation_no,device_mac
											ORDER BY formation_no,device_mac
										)jng
										GROUP BY formation_no
										ORDER BY formation_no
								)t1
								WHERE t1.cnt2>1
							)
				)joong1
				LEFT JOIN tcms_info joong2
				ON joong1.device_mac=joong2.device_mac
			]]>
		)
	    
	    SELECT J2.*
	    ,IFNULL(D.station_name ,'현재 미운행') as station_name
	    from 
	    (
		    SELECT J1.* 
		    ,case when J1.RATE1 is null then 0 when J1.RATE1 <![CDATA[ < ]]> C.care_st then 1 when J1.RATE1 <![CDATA[ < ]]> C.cwd_st then 2 when J1.RATE1 <![CDATA[ < ]]> C.seve_st then 3 ELSE 4 END AS cwd1
			,case when J1.RATE2 is null then 0 when J1.RATE2 <![CDATA[ < ]]> C.care_st then 1 when J1.RATE2 <![CDATA[ < ]]> C.cwd_st then 2 when J1.RATE2 <![CDATA[ < ]]> C.seve_st then 3 ELSE 4 END AS cwd2
			from 
		    (
				SELECT 
					  a.*
					 ,b.*
					 <!-- 혼잡률이 0보다 작을경우 0으로 표기 -->						
					,if(b.rate_t1<![CDATA[ < ]]>0,0,b.rate_t1) AS rate1
					,if(b.rate_t2<![CDATA[ < ]]>0,0,b.rate_t2) AS rate2
		 		FROM ASP_INFO a
		 		left join
		 		(
					SELECT 
						 TRAIN_NO AS tno2
						,formation_no AS fno2
						
						,rcv_dt
						
						,case when station_id=0 then ''
						else 
							case when station_id%2=1 then '(상)' 
							 when station_id%2=0 then '(하)'ELSE '' END 
						end AS active_cap
						,train_cnt
						,ROUND(calc_kpa((kpa1+kpa2)/2,formation_no,1)*range_kpa((kpa1+kpa2)/2,formation_no),1) AS rate_t1
						,ROUND(calc_kpa((kpa3+kpa4)/2,formation_no,2)*range_kpa((kpa3+kpa4)/2,formation_no),1) AS rate_t2
						,station_id
						,if(a.formation_no=b.jfno,1,0) as train_add_cnt
		 			FROM tcms a left join jjng b ON a.formation_no=b.jfno
		 			<!-- 그룹 함수 중 최신 시간껄 가져올때 쓸 것 !!
		 			기본적으로 옛날시간거 가져온다 ㅡㅡ 
		 			 -->
		 			where (formation_no, rcv_dt) 
				    in (
					    <![CDATA[  
					    	select formation_no, max(rcv_dt) as rcv_dt 
					        	from tcms 
					            group by formation_no
					    ]]>
				    )
		 		) b
		 		ON a.formation_no=b.fno2
				WHERE 1=1
				<if test="formationNo !=null and formationNo neq ''"> 
					AND formation_no=#{formationNo}
				</if>
			)J1
			,asp_rate_info C
	    )J2 
	    left join 
	    station_info D
	    on 
		(
			J2.station_id=D.up_num
			or
			J2.station_id=D.down_num
	 	)
	 	ORDER BY J2.train_add_cnt DESC, J2.FORMATION_NO
	</select>
	
	<!-- 단말기 화면에서의 목록/상세 -->	
	<select id="selectTerminal" parameterType="terminalVO" resultMap="resultTerminalVo">
		SELECT J1.*,c.*
		FROM 
		(
			SELECT 
				a.formation_no
				,IFNULL(a.device_ip,'정보없음') AS device_ip
				,IFNULL(a.device_mac,'정보없음') AS device_mac
				,IFNULL(a.INS_LOC_TXT,'정보없음') AS INS_LOC_TXT
				,IFNULL(a.device_used,'정보없음') AS device_used
				,IFNULL(a.gateway_ip,'정보없음') AS gateway_ip
				,IFNULL(a.device_user,'정보없음') AS device_user
				,a.car_type
				,a.etc
				,DATE_FORMAT(a.reg_dt, '%Y-%m-%d') as reg_dt
	 		FROM TCMS_INFO a
		)J1
		LEFT JOIN	
		asp_info C
		ON J1.formation_no=c.formation_no
	    WHERE 1=1
		<if test="formationNo !=null and formationNo neq ''"> 
			AND J1.formation_no=#{formationNo}
		</if>
		<!-- 검색조건 -->
		<if test="sDate !=null and sDate neq '' and eDate !=null and eDate neq '' ">
		    AND <![CDATA[ J1.reg_dt >= #{sDate} AND J1.reg_dt <= #{eDate} ]]>
		</if>
		<if test="carType !=null and carType neq ''">
		    AND J1.car_type =#{carType}
		</if>
		<if test="schType !=null and schType neq ''"> 
			<choose>
				<when test="schType eq 'formationNo'">
					AND J1.formation_no LIKE CONCAT('%',#{schWord},'%')
				</when>
				<when test="schType eq 'deviceUser'">
					AND J1.device_user LIKE CONCAT('%',#{schWord},'%')
				</when>
				<otherwise>
					AND J1.device_used LIKE CONCAT('%',#{schWord},'%')
				</otherwise>				    
			</choose>
		</if>
		ORDER BY J1.FORMATION_NO 
	</select>
	 
	
	<!-- 차상단말기 등록 -->
	<insert id="insertTerminal" parameterType="terminalVO">
		INSERT INTO TCMS_INFO(
			  formation_no
			 ,car_type
			 ,device_ip
			 ,device_mac
			 ,INS_LOC_TXT
			 ,device_used
			 ,gateway_ip
			 ,device_user
			 ,etc
			 ,reg_dt
		)
		VALUES (
			 #{formationNo}
			,#{carType}
			,#{deviceIp}
			,#{deviceMac}
			,#{insLocTxt}
			,#{deviceUsed}
			,#{gatewayIp}
			,#{deviceUser}
			,#{etc}
			,now()
		)
	</insert>
	
	<update id="updateTerminal" parameterType="terminalVO">
		UPDATE TCMS_INFO
		SET
			  train_no=#{trainNo}
			 ,car_type=#{carType}
			 ,formation_no=#{formationNo}
			 ,device_ip=#{deviceIp}
			 ,device_mac=#{deviceMac}
			 ,INS_LOC_TXT=#{insLocTxt}
			 ,device_used=#{deviceUsed}
			 ,gateway_ip=#{gatewayIp}
			 ,device_user=#{deviceUser}
			 ,etc=#{etc}
		WHERE formation_no=#{formationNo} 
	</update>
	
		<!-- 사용자 삭제 -->
	<delete id="deleteTerminal">
		DELETE FROM TCMS_INFO 
		WHERE formation_no IN
		<foreach collection="chkList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
	</delete>
	
	<!--  상세에서 사용자 삭제  -->
	<delete id="deleteTerminalD" >
	    DELETE FROM TCMS_INFO
	    WHERE formation_no=#{formationNo}
	</delete>
	
	<!-- 메인화면 대시보드에서의 단말기목록 -->
	<select id="selectLog" parameterType="terminalVO" resultMap="resultTerminalVo">
		WITH tt AS (
			SELECT
				DATE_FORMAT(RCV_DT,'%H:%i:%s') as RCV_DT
				,FORMATION_NO,
				kpa1,kpa2,kpa3,kpa4
				,(kpa1+kpa2)/2 AS AVG1
				,(kpa3+kpa4)/2 AS AVG2
				,STATION_ID
			FROM tcms_log_all
			WHERE 1=1 
			
			<!-- 날짜 -->	
			<choose>
			    <when test="sDate !=null and sDate neq '' and eDate !=null and eDate neq '' ">
					<![CDATA[    
					AND DATE_FORMAT(RCV_dT,'%Y-%m-%d %H:%i:%s') >= #{sDate}
					AND DATE_FORMAT(RCV_dT,'%Y-%m-%d %H:%i:%s') <= #{eDate}
					]]>
			    </when>
			    <otherwise>
					AND DATE_FORMAT(RCV_dT,'%Y-%m-%d %H:%i:%s') <![CDATA[ >= ]]> concat(curdate()-interval 1 DAY," 07:10:00") 
					AND DATE_FORMAT(RCV_dT,'%Y-%m-%d %H:%i:%s') <![CDATA[ <= ]]> concat(curdate()-interval 1 DAY," 07:20:00") 
			    </otherwise>
			</choose>
			<!-- 편성 -->	
			<choose>
			    <when test="formationNo !=null and formationNo neq ''">
					and formation_no=#{formationNo}
			    </when>
			    <otherwise>
					<![CDATA[    
						and formation_no>=201 AND formation_no<=300
					]]>
			    </otherwise>
			</choose>
			
			<!-- 상하행 -->	
			<choose>
			    <when test="activeCap !=null and activeCap neq ''">
					<choose>
					    <!--상행  -->
					    <when test="activeCap eq 1">
					        and station_id%2=1
					    </when>
					    <!--하행  -->
					    <otherwise>
					        and station_id%2=0
					    </otherwise>
					</choose>
			    </when>
			</choose>
			<![CDATA[ 
			and station_id >= 3 AND station_id<=56
			AND kpa1>50 and kpa2>50 and kpa3>50 and kpa4>50
			
			]]>
		)
		SELECT T3.* FROM
		(
		
			SELECT T2.*,B.station_name
			,if(T2.station_id%2=1,'상행','하행') AS active_cap
			FROM 
			(
			SELECT
				T1.*
				,round(calc_kpa(AVG1,formation_no,1),2) AS cal1
				,round(calc_kpa(AVG2,formation_no,2),2) AS cal2
				,round(range_kpa(AVG1,formation_no),2) AS range1
				,round(range_kpa(AVG2,formation_no),2) AS range2
				
				,ROUND(calc_kpa(AVG1,formation_no,1)*range_kpa(AVG1,formation_no),1) AS rate1
				,ROUND(calc_kpa(AVG2,formation_no,2)*range_kpa(AVG2,formation_no),1) AS rate2					FROM
					(
						SELECT a1.* from
						(
						SELECT tt.*, COUNT(*) AS cnt
						FROM tt
						GROUP BY station_id,kpa1,kpa2,kpa3,kpa4
						)a1
						WHERE 1=1
						<choose>
						    <when test="dufCnt !=null and dufCnt neq ''">
								<![CDATA[ 
									and a1.cnt>=#{dufCnt}
								]]>
						    </when>
						    <otherwise>
								<![CDATA[ 
									and a1.cnt>=2
								]]>
						    </otherwise>
						</choose>
					)T1
			)T2
			LEFT JOIN
			station_info B
			ON 
			(
				T2.station_id=B.up_num
				or
				T2.station_id=B.down_num
			)
		
		)T3
		ORDER BY active_cap,formation_no,rcv_dt

	</select>	   	
	
</mapper>