<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.user.mapper.UserMapper">
<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2020.07.23 정다빈     최초 생성 
-->

	<!-- 전체 사용자 조회 -->
	<!-- 전체 또는 특정 사용자 조회 -->
	<resultMap type="userVO" id="resultVo">
		<result property="userId" 		column=	"USER_ID"	/>
		<result property="userPw" 		column=	"USER_PW"	/>
		<result property="userName" 	column=	"USER_NAME" />
		<result property="userRank" 	column=	"USER_RANK" />
		<result property="userDept" 	column=	"USER_DEPT" />
		<result property="userPhone" 	column=	"USER_PHONE"/>
		<result property="userEmail" 	column=	"USER_EMAIL"/>
		<result property="userLevel" 	column=	"USER_LEVEL"/>
		<result property="useYn" 		column=	"USE_YN" 	/>
		<result property="regDt" 		column=	"REG_DT" 	/>
	</resultMap>
	
	<select id="selectUserList" parameterType="userVO" resultMap="resultVo">
		SELECT 
			 USER_ID	
			,USER_PW	
			,USER_NAME
			,USER_RANK
			,USER_DEPT 
			,USER_PHONE
			,USER_EMAIL
			,USER_LEVEL
			,USE_YN
			,DATE_FORMAT(REG_DT,'%Y-%m-%d') AS REG_DT 	
		FROM
		USER_INFO
		WHERE 1=1
		<if test="userId !=null and userId neq ''"> 
			AND USER_ID=#{userId}
		</if>
		<if test="sDate !=null and sDate neq '' and eDate !=null and eDate neq '' ">
		    AND <![CDATA[ REG_YDT >= #{sDate} AND REG_YDT <= #{eDate} ]]>
		</if>
		<if test="schType !=null and schType neq ''"> 
			<choose>
				<when test="schType eq 'userName'">
					AND USER_NAME LIKE CONCAT('%',#{schWord},'%')
				</when>
				<otherwise>
					AND USER_DEPT LIKE CONCAT('%',#{schWord},'%')
				</otherwise>				    
			</choose>
		</if>
		ORDER BY REG_DT DESC
	</select>
	
	
	<select id="selectUser" parameterType="userVO" resultMap="resultVo">
		SELECT 
			 USER_ID	
			,USER_PW	
			,USER_NAME
			,USER_RANK
			,USER_DEPT 
			,USER_PHONE
			,USER_EMAIL
			,USER_LEVEL
			,USE_YN
			,DATE_FORMAT(REG_DT,'%Y-%m-%d') AS REG_DT 	
		FROM
		USER_INFO
		WHERE USER_ID=#{userId}
	</select>
	
	<!-- 사용자 등록 -->
	<insert id="insertUser" parameterType="userVO">
		INSERT INTO USER_INFO(
			USER_ID
			,USER_PW
			,USER_NAME
			,USER_RANK
			,USER_DEPT
			,USER_PHONE
			,USER_EMAIL
			,REG_DT
		)
		VALUES (
			 #{userId}
			,#{userPw}
			,#{userName}
			,#{userRank}
			,#{userDept}
			,#{userPhone}
			,#{userEmail}
			,NOW()
		)
	</insert>
	
	<!-- 사용자 정보 수정-->
	<update id="updateUser" parameterType="userVO">
		UPDATE USER_INFO
		SET
			USER_NAME    =	#{userName}
			<if test="userPw !=null and userPw  neq '' ">
				,`USER_PW`=#{userPw}
			</if>
			,USER_NAME    =	#{userName}
			,USER_RANK   =	#{userRank}
			,USER_DEPT   =	#{userDept}
			,USER_PHONE  =	#{userPhone}
			,USER_EMAIL  =	#{userEmail} 
		WHERE USER_ID	 =	#{userId} 
	</update>
	
	<!-- 사용자 삭제 -->
	<delete id="deleteUser" parameterType="userVO">
		DELETE FROM USER_INFO 
		WHERE USER_ID IN
		<foreach collection="chkList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
	</delete>

</mapper>