@charset "UTF-8";

.router_top {
	margin-bottom: 10px;
}
/* 24-10-18 : 단말기 개수 폰트 사이즈 설정 */
@media ( max-width : 3840px) {
	/* 화면이 4K 일 때 */
	/* 단말기 카운터 스타일 조정  */
	#countRouter {
		font-size: 20px;
		width: 250px;
		margin-top: 10px;
	}
	/* td 스타일 조정 */
	.lte-table td {
		width: 167px; /* tr 전체 넓이 / 7 값 */
		height: 165px;
	}
}

@media ( max-width : 1920px) {
	/* 화면이 FullHD일 때 */
	/* 단말기 카운터 스타일 조정  */
	#countRouter {
		font-size: 15px;
		width: 200px;
		margin-top: 15px;
	}
	.lte-table td {
		height: 65px;
	}
}

@media ( max-width : 1910px) {
	body, html {
		width: 1920px;
		height: 1080px;
		overflow: auto;
	}
	aside.lnb {
		height: 1080px;
		position: absolute;
	}
	.menu-inner {
		height: 264px;
	}
	.lnb .lnb-control {
		width: 1920px;
	}
	.open .container-wrap {
		width: 1860px;
	}
	.container-wrap .header-wrap {
		position: absolute;
		width: 1920px;
		z-index: 999;
	}
	.containerAll {
		width: 1820px;
		height: 980px;
		min-width: 0px;
		min-height: 0px;
	}
	.container-wrap {
		margin-bottom: 40px;
	}
	.container_b {
		width: 890px;
		height: 960px;
		min-width: 0px;
		justify-content: space-around;
	}
	#all_chart {
		margin-right: 50px;
	}
	.router_top {
		margin-bottom: 25px;
	}
	.lte-table td {
		height: 120px;
	}
	.img-container>div {
		width: 75px;
		height: 60px;
	}
	.td-div span {
		font-size: 13px;
	}
	#trainDiv {
		height: 85% !important;
	}
	#chartDiv {
		max-height: 0px !important;
		min-height: 400px !important;
	}
	.svgFirst {
		height: 380px;
		min-height: 0px;
	}
	.title {
		margin-bottom: 0px !important;
	}
}

.contents_box{
	background:none;
	box-shadow: none;
	padding:0;
}

.contents_box2 {
	background:none;
	box-shadow: none;
	padding:0;
	
	max-height: 0px !important;
    min-height: 38vh;
}

.ctn_tbl_row .ctn_tbl_th,.ctn_tbl_row .ctn_tbl_td{
	min-height:unset;
	height:50px;
}

@media screen and (max-width: 1920px){
	.ctn_tbl_row .ctn_tbl_th,.ctn_tbl_row .ctn_tbl_td{
		height:40px;
	}
}

.ctn_tbl_row .ctn_tbl_th{
	background:#02221A;
	font-size:calc(5px + 0.4vw + 0.4vh);
	flex: 0 0 25%;
	/* height:calc(10px + 0.4vw + 0.4vh); */
}

.ctn_tbl_td{
	background:none;
	font-size:calc(5px + 0.4vw + 0.4vh);
}

.contents_box *{
	color:#fff;
}

#showOper{
	background-color : #006f6f;
	border-radius : 5px;
	border : none;
	color : yellow;
	margin-left:15px;
}

/* 24-10-18 : 차트 크기 조절 */
@media(max-width : 3840px) {
	#opration_box > svg{
		margin-top : 70px;
	}
	
	#chartDetail {
		margin-top : 40px;
	}

}

@media(max-width : 1920px) {
	#opration_box > svg{
		margin-top : 0px;
	}
	
	#chartDetail {
		margin-top : 0px;
	}
}


@media(max-width : 1910px) {
	body, html {
		width : 1920px;
		height : 1080px;
		overflow : auto;
	}
	
	aside.lnb {
		height : 1080px;
		position : absolute;
	}

	.menu-inner {
		height: 264px;
	}
	
	.menu-inner > .menu-item  {
		width : 60px;
	}
	
	.lnb .lnb-control {
		width : 1920px;
	}
	
	.open .container-wrap {
		width : 1860px;
	}
	
	.container-wrap .header-wrap {
		position : absolute;
		width : 1920px;
		z-index:999;
	}
	
	.containerAll {
		width: 1820px;
		height: 960px;
		min-width : 0px;
		min-height : 0px;
	}
	
}

